.DS_Store
node_modules
dist/

# turbo
.turbo
build/**
.next/**

# env
.env
# any file extension that ends with this is ignored
*.local
# keeps the file type
*.local.*


## FROM api-proxy
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
*.egg-info/
dist/
build/
wheels/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pytest cache
.pytest_cache/

# PyCharm and VS Code settings
.idea/
.vscode/

# Virtual environment
.venv/
venv/

# secret keys
#.env
#*.env
#.env.*
.env*.local


# Coverage reports
htmlcov/
.coverage
.coverage.*

# Log files
*.log

# Temporary files
*.tmp

.DS_Store

node_modules/

*.zip
## END api-proxy