.DS_Store
node_modules
dist/

# turbo
.turbo
build/**
.next/**

# env
.env
# any file extension that ends with this is ignored
*.local
# keeps the file type
*.local.*
.env*.local


## FROM api-proxy
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
*.egg-info/
dist/
build/
wheels/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pytest cache
.pytest_cache/

# PyCharm and VS Code settings
.idea/
.vscode/

# Virtual environment
.venv/
venv/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Log files
logs
*.log

# Temporary files
*.tmp
.DS_Store
node_modules/

# ==START FASTAPI==
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
*.egg-info/
dist/
build/
wheels/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pytest cache
.pytest_cache/

# PyCharm and VS Code settings
.idea/
.vscode/

# Virtual environment
.venv/
venv/

# secret keys
#.env
#*.env
#.env.*
.env*.local


# Coverage reports
htmlcov/
.coverage
.coverage.*

# Log files
*.log

# Temporary files
*.tmp

.DS_Store

*.zip
# ==END FASTAPI==

# Node modules
**/node_modules

# Next.js build output
**/.next

# Other build output directories
**/dist
**/build
**/out